{% extends 'ascensor/base.html' %}
{% block content %} 
{% load staticfiles %}
<section id="banner">
<div class="contenedor">

        <div class="container contraseña-lista">
                <div >
                    <h1 class="titulo-contraseña">Contraseña Actualizada!</h1>
                 <p>
              <a href="{% url 'login' %}" class="btn btn-primary btn-lg" >Aceptar </a>
                       
                </div>
             </p>
            </div>
            

           
</div>
</section>
<script src="{% static 'js/script.js' %}"></script>
{% endblock %} 